<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:urn="urn:schemas-microsoft-com:asm.v1" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <xdt:Import assembly="ComponentHost" namespace="ComponentHost.Transforms"/>
  
  <appSettings xdt:Transform="InsertIfMissing">

    <add key="Providers.DropBoxClientId"                                 value="cpws043zac9hvgj" xdt:Locator="Condition(@key='Providers.DropBoxClientId')" xdt:Transform="Replace"/>
    <add key="Providers.DropBoxClientSecret"                             value="72awl6v9lb8uf11" xdt:Locator="Condition(@key='Providers.DropBoxClientSecret')" xdt:Transform="Replace"/>

  </appSettings>

</configuration>

