<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessToken" value="ahoJp60bZYAAAAAAAAAALAEaU4mYok-oXPJquj4R8k-gFirHGtZz8JsxLJKyV-Yc" />
    <add key="Providers.DropBoxClientId" value="f204fhceqpf0gnk"/>
    <add key="Providers.DropBoxClientSecret" value="6iz7w5bslf3c9g9"/>
    <!--<add key="AdminMemberId" value="2360532320" />-->
  </appSettings>
  <connectionStrings>
    <add name="TokenStore" connectionString="Data Source=localhost;Initial Catalog=DataStore.Db.TokenStore;User Id=sa;Password=yourStrong(!)Password;MultipleActiveResultSets=True;connection timeout=0;Max Pool Size=200;Pooling=True;" />
  </connectionStrings>
</configuration>